#paddle-subscriptions {
	position: relative;
	.asnp-paddle-blur {
		filter: blur( 2px );
		pointer-events: none;
	}
	.asnp-paddle-loading {
		text-align: center;
		font-size: 18px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate( -50%, -50% );
	}
}
